<mat-table [dataSource]="dataSourceRate">

  <ng-container cdkColumnDef="name">
    <mat-header-cell *cdkHeaderCellDef>{{'contract.list.name-column' | transloco}}</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ row.name }}</mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="started_at">
    <mat-header-cell *cdkHeaderCellDef>{{'contract.list.started-at' | transloco}}</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      {{ row.started_at | date: 'dd/MM/yyyy' }}
    </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="finished_at">
    <mat-header-cell *cdkHeaderCellDef> {{'contract.list.finished-at' | transloco}}</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      {{ row.finished_at | date: 'dd/MM/yyyy' }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *cdkHeaderCellDef style="flex: 0 0 75px;">
      {{'common.actions' | transloco}}
    </mat-header-cell>
    <mat-cell *cdkCellDef="let row" style="flex: 0 0 75px;">
      <a (click)="$event.stopPropagation();" [matMenuTriggerFor]="moreMenu" aria-label="More"
         mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </a>

      <mat-menu #moreMenu="matMenu">
        <a (click)="deleteSelected.emit(row.id)" aria-label="Delete" mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>{{'button.delete' | transloco}}</span>
        </a>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *cdkHeaderRowDef="defaultColumns; sticky: true"></mat-header-row>
  <mat-row *cdkRowDef="let row; columns: defaultColumns; let even = even; let odd = odd"
           [ngClass]="{'mat-row-even': even, 'mat-row-odd': odd}"
           routerLink="../../pricing/{{ row.id }}"></mat-row>
</mat-table>

<app-table-no-result
  [style.display]="(dataSourceRate.data.length == 0) ? '' : 'none'">
</app-table-no-result>

<mat-paginator
  [length]="dataSourceRate.data.length"
  [pageIndex]="0"
  [pageSizeOptions]="[25, 50, 75, 100]"
  [pageSize]="25">
</mat-paginator>
