.notification-count {
  position: absolute;
  top: -8px;
  right: 0;
  left: 14px;
  width: 18px;
  height: 15px;
  line-height: 12px;
  font-size: 12px;
  background-color: red;
  padding: 5px 3px 1px 2px;
  border-radius: 50%;
  color: #FFFFFF;
  font-weight: 500;
}
