<div *ngIf="isDisplayActions" [ngClass]="{'list-action': selection.hasValue() }">
  <span *ngIf="selection.hasValue() && !selection.isSelected('*')" class="selected-count">
    Les {{ selection.isSelected('*') ? dataSource.total : selection.selected.length }} budgets de cette page sont sélectionnés.
    <span *ngIf="selection.selected.length == paginator.pageSize && dataSource.total > selection.selected.length"
          class="selected-count">
        <a (click)="selectAll()"><strong>Sélectionner les {{ dataSource.total }} budgets.</strong></a>
    </span>
  </span>
  <span *ngIf="selection.isSelected('*')" class="selected-count">Tous les budgets ({{ dataSource.total }}) sont sélectionnés.</span>
  <span *ngIf="selection.selected.length > 0">
    <button *appAuthorized="['management.export.budget', 'management.budget.delete']" [matMenuTriggerFor]="tableOptions"
            mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #tableOptions="matMenu">
    <button (click)="exportBudgetToExcel()"
            *appAuthorized="['management.export.budget']"
            [disabled]="!selection.hasValue()"
            aria-label="Excel"
            mat-menu-item
            type="button">
      <mat-icon>view_list</mat-icon>
      <span>Exporter au format Excel</span>
    </button>

      <button (click)="deleteSelection()"
              *appAuthorized="['management.budget.delete']"
              [disabled]="!selection.hasValue()"
              aria-label="Delete"
              mat-menu-item
              type="button">
      <mat-icon>delete_forever</mat-icon>
      <span>Tout supprimer</span>
    </button>
  </mat-menu>
  </span>
</div>

<mat-table [dataSource]="dataSource" [trackBy]="trackById" matSort>
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef mat-header-cell style="flex: 0 0 50px;">
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    *appAuthorized="['management.export.budget', 'management.budget.delete']"
                    [checked]="selection.hasValue()"
                    [indeterminate]="selection.hasValue() && !isAllSelected">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" mat-cell style="flex: 0 0 50px;">
      <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                    (click)="$event.stopPropagation()"
                    *appAuthorized="['management.export.budget', 'management.budget.delete']"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="year">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Année</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ row.year }}</mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="total_consumption">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Consommation annuelle</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      {{row.total_consumption ? (row.total_consumption | amountConverter: 100 | number : '1.2-2') + ' €' : '-'}}
    </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="total_amount">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Budget prévisionnel annuel</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      {{ row.total_amount ? (row.total_amount | amountConverter | number : '1.2-2') + ' €' : '-' }}
    </mat-cell>
  </ng-container>


  <ng-container cdkColumnDef="calculated_quantity">
    <mat-header-cell *cdkHeaderCellDef>Consommation calculée</mat-header-cell>
    <mat-cell
      *cdkCellDef="let row">{{row.calculated_quantity ? (row.calculated_quantity | amountConverter: 100 | number: '1.2-2') + ' kWh' : '-'}}</mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="calculated_amount">
    <mat-header-cell *cdkHeaderCellDef>Budget consommé calculé</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      {{ row.calculated_amount ? (row.calculated_amount | amountConverter | number: '1.2-2') + ' €' : '-' }}
    </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="average_price">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Prix moyen de l'énergie HT</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      {{row.average_price ? (row.average_price | amountConverter | number: '1.2-2') + ' €/kWh' : '-' }}
    </mat-cell>
  </ng-container>


  <ng-container cdkColumnDef="actions">
    <mat-header-cell *cdkHeaderCellDef style="flex: 0 0 75px;">
      <button (click)="openSelectionDialog()" aria-label="Settings" mat-icon-button type="button">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *cdkCellDef="let row" style="flex: 0 0 75px;">
      <ng-container *appAuthorized="['management.budget.delete']">
        <button (click)="$event.stopPropagation();" [matMenuTriggerFor]="actionMenu" aria-label="Actions"
                mat-icon-button
                type="button">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #actionMenu="matMenu">
          <button (click)="delete(row.id)"
                  *appAuthorized="['management.budget.delete']"
                  aria-label="Supprimer"
                  mat-menu-item
                  type="button">
            <mat-icon>delete</mat-icon>
            <span>Supprimer</span>
          </button>
        </mat-menu>
      </ng-container>
    </mat-cell>
  </ng-container>

  <mat-header-row *cdkHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *cdkRowDef="let row; columns: displayedColumns; let even = even; let odd = odd"
           [class.loading]="dataSource.loading"
           [ngClass]="{'mat-row-even': even, 'mat-row-odd': odd}"
           [queryResource]="['management.budget.view']"
           [routerLinkSecured]="isDisplayActions ? row.id : '../../budget/' + row.id">
  </mat-row>
</mat-table>

<app-table-no-result
  [style.display]="(dataSource.total == 0 && !dataSource.loading) ? '' : 'none'">
</app-table-no-result>

<mat-paginator
  [length]="dataSource.total"
  [pageIndex]="0"
  [pageSizeOptions]="[25, 50, 75, 100]"
  [pageSize]="25"
  [style.display]="(dataSource.total === 0) ? 'none' : ''">
</mat-paginator>
