<form [formGroup]="form">
  <app-form-block title="Consommation prévisionnelle">
    <div class="row">
      <mat-form-field class="form-w25">
        <input decimal="true" decimalSeparator="." digitOnly formControlName="sub_total_consumption" inputmode="numeric"
               matInput
               min="0"
               placeholder="Consommation d'énergie"
               type="text">
        <span matSuffix>kWh</span>
        <mat-error *ngIf="form.controls.sub_total_consumption.invalid">
          <span *ngIf="form.controls.sub_total_consumption.errors.api">
            {{ form.controls.sub_total_consumption.errors.api }}
          </span>
          <span *ngIf="form.controls.sub_total_consumption.errors.pattern">
            Saissisez 2 chiffres après la virgule (ex. 0.00)
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-w25">
        <input decimal="true" decimalSeparator="." digitOnly formControlName="equipment_power_percentage" inputmode="numeric"
               matInput
               min="0"
               placeholder="Consommation appareillage"
               required type="text">
        <span matSuffix>%</span>
        <mat-error *ngIf="form.controls.equipment_power_percentage.invalid">
          <span *ngIf="form.controls.equipment_power_percentage.errors.required">Ce champ est obligatoire</span>
          <span *ngIf="form.controls.equipment_power_percentage.errors.api">
          {{ form.controls.equipment_power_percentage.errors.api }}
        </span>
          <span *ngIf="form.controls.equipment_power_percentage.errors.pattern">
          Saissisez 2 chiffres après la virgule (ex. 0.00)
        </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-w50">
        <input decimal="true" decimalSeparator="." digitOnly formControlName="gradation" inputmode="numeric"
               matInput
               min="0"
               placeholder="Gradation"
               required type="text">
        <span matSuffix>%</span>
        <mat-error *ngIf="form.controls.gradation.invalid">
          <span *ngIf="form.controls.gradation.errors.required">Ce champ est obligatoire</span>
          <span *ngIf="form.controls.gradation.errors.api">
          {{ form.controls.gradation.errors.api }}
        </span>
          <span *ngIf="form.controls.gradation.errors.pattern">
          Saissisez 2 chiffres après la virgule (ex. 0.00)
        </span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="form-w50">
        <input decimal="true" decimalSeparator="." digitOnly formControlName="installed_power" inputmode="numeric"
               matInput
               min="0"
               placeholder="Puissance installée"
               required
               type="text">
        <span matSuffix>(kW ou kVA)</span>
        <mat-error *ngIf="form.controls.installed_power.invalid">
          <span *ngIf="form.controls.installed_power.errors.api">
            {{ form.controls.installed_power.errors.api }}
          </span>
          <span *ngIf="form.controls.installed_power.errors.required">Ce champ est obligatoire</span>
          <span *ngIf="form.controls.installed_power.errors.pattern">
            Saissisez 2 chiffres après la virgule (ex. 0.00)
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-w50">
        <input digitOnly formControlName="gradation_hours" inputmode="numeric" matInput min="0" pattern="[0-9]*"
               placeholder="Nombre d'heures de gradation"
               required
               type="text">
        <span matSuffix>Heure(s)</span>
        <mat-error *ngIf="form.controls.gradation_hours.invalid">
          <span *ngIf="form.controls.gradation_hours.errors.required">Ce champ est obligatoire</span>
          <span *ngIf="form.controls.gradation_hours.errors.api">{{ form.controls.gradation_hours.errors.api }}</span>
          <span *ngIf="form.controls.gradation_hours.errors.pattern">
           Seuls des entiers sont autorisés
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="!!powerWarning" class="warning-power">
      <div>
        <mat-icon>warning</mat-icon>
      </div>
      <div>
        <span class="warning">{{powerWarningMessage}}</span>
      </div>
    </div>
  </app-form-block>
</form>
