<app-header
  [icon]="'security'"
  [mode]="'list'"
  [title]="title | transloco">
</app-header>

<div class="page-content">
  <div class="vertical-mode">
    <form [formGroup]="form">
      <mat-tab-group class="vertical-tab-group" disableRipple="true">

        <!--Détail des rôles-->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>assignment</mat-icon>
            {{'common.general-info' | transloco}}
          </ng-template>
          <app-role-form [form]="form"></app-role-form>
        </mat-tab>

        <!--Gestion des permissions-->
        <mat-tab *appAuthorized="['system.permission.view']">
          <ng-template mat-tab-label>
            <mat-icon>lock</mat-icon>
            {{'role.authorization' | transloco}}
          </ng-template>
          <mat-card>
            <app-permission-form
              *ngIf="!isLoading else noData"
              [displayData]="displayData"
              [form]="form">
            </app-permission-form>

            <ng-template #noData>
              <app-table-no-result
                [description]="noDataDescription">
              </app-table-no-result>
            </ng-template>
          </mat-card>
        </mat-tab>
      </mat-tab-group>

      <button (click)="submit()" *appAuthorized="['system.role.edit']" [disabled]="form.invalid" class="btn-save"
              color="warn" mat-fab
              type="submit">
        <mat-icon>check circle</mat-icon>
      </button>
    </form>
  </div>
</div>

