.block-container {
  display: flex;
  flex-direction: row;

  .block {
    display: flex;
    flex-direction: row;
    flex: 1;

    .form-size {
      flex: 0 0 calc(50% - 78px);
    }

    span {
      display: flex;
      justify-items: center;
    }

    mat-card-subtitle {
      margin-right: 4px;
    }
  }
}

.import_file {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .upload-icon {
    padding-right: 4px;
  }
}
