$dark-brown: #C4A964;
$black: #000000;
$lighter-brown: rgba(221, 204, 130, 0.65);
$white: #FFFFFF;

.edf-container {
  display: flex;
  flex-direction: column;
  padding: 20px;

  // "PUBLIC LIGHTNING" TABLE
  .public-lightning {
    border: 2.5px solid $dark-brown;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;


    #public-lightning-table {
      width: 100%;
      background-color: white;
      border-radius: 7px;
      overflow: hidden;

      th {
        text-align: left;
        background-color: $lighter-brown;
        color: $black;
        padding: 5px;
        border-radius: 7px;
      }

      .title {
        color: $black;
        font-weight: 500;
        font-size: 16px;
        width: 100%;
      }

      .subtitle {
        color: $black;
        font-weight: 500;
        font-size: 16px;
      }

      .header-cell {
        font-weight: 500;
        color: $black;
        font-size: 13px;
      }
    }
  }

  // EDF ELECTRICITY TABLE
  .summary-edf-electricity {
    border: 2.5px solid $dark-brown;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: $dark-brown;

    #summary-edf-electricity-table {
      background-color: white;
      width: 100%;
      border-collapse: collapse;
      border-radius: 7px;

      tr:nth-child(odd) {
        background: $lighter-brown;

        td:nth-child(6) {
          border-right-color: $dark-brown;
        }
      }

      tr:nth-child(even) {
        background-color: white;

        td:nth-child(odd) {
          color: $black;
          font-weight: 500;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }

      tr:first-child {
        td {
          border: none;
        }

        background-color: $dark-brown;
      }
    }
  }

  // TAXES TABLE
  .taxes {
    border: 2.5px solid $dark-brown;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: $dark-brown;

    #taxes-table, #vat-table {
      width: 100%;
      background-color: white;
      border-collapse: collapse;
      border-radius: 7px;

      #vat-last-row {
        background-color: $dark-brown;
        color: $white;
        font-weight: 500;

        td {
          padding: 5px;
          border: none;
        }
      }

      tr:nth-child(odd), tr:nth-child(even) {
        background: $lighter-brown;

        td {
          border: 1px solid $white;
          border-bottom-color: $lighter-brown;
        }
      }

      tr:first-child {
        border-bottom-color: white;

        td {
          padding: 5px;
          border: none;
        }

        background-color: $dark-brown;
      }

      tr:nth-child(2) {
        background: $white;

        > td {
          font-weight: 500;
        }
      }
    }
  }

  // DATA AND INDEXES INFO
  .data {
    display: flex;
    flex-direction: row;

    div:nth-child(1) {
      margin-right: 5px;
    }

    .counting-data-index {
      padding: 5px;
      border: 2px solid $dark-brown;
      border-collapse: collapse;
      margin-bottom: 20px;
      border-radius: 10px;
      flex: 1 1 auto;
      width: 50%;

      .counting-title {
        color: $black;
        padding-bottom: 5px;
      }

      .counter-index {
        display: flex;
        flex-direction: row;

        .subtitle {
          color: $black;
        }

        div:nth-child(1), div:nth-child(2), div:nth-child(3) {
          flex: 1;
        }

        // index started title
        div:nth-child(2).subtitle {
          text-align: center;
        }

        // index started date content row style
        div:nth-child(2) {
          text-align: center;
        }

        div:nth-child(3) {
          text-align: right;
        }
      }
    }
  }

  // GLOBAL CSS TAG
  td {
    padding-left: 5px;
  }

  tr > td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
    text-align: right;
    padding-right: 5px;
  }

  // COMMON HEADER ROW
  .header-row {
    width: 100%;
    text-align: left;
    color: $white;
    font-weight: 500;
    border-radius: 10px;
  }
}
